/* lexend-regular - latin */
@font-face {
	font-family: 'Lexend';
	font-style: normal;
	font-weight: 400;
	src: 
		  url('../fonts/lexend-v7-latin-regular.woff2') format('woff2'),
		  url('../fonts/lexend-v7-latin-regular.woff') format('woff'),
		  url('../fonts/lexend-v7-latin-regular.ttf') format('truetype');
 }
 /* lexend-500 - latin */
 @font-face {
	font-family: 'Lexend';
	font-style: normal;
	font-weight: 500;
	src:
		  url('../fonts/lexend-v7-latin-500.woff2') format('woff2'),
		  url('../fonts/lexend-v7-latin-500.woff') format('woff'),
		  url('../fonts/lexend-v7-latin-500.ttf') format('truetype');
 }
 /* manrope-regular - latin */
@font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 400;
	src:
		  url('../fonts/manrope-v8-latin-regular.woff2') format('woff2'),
		  url('../fonts/manrope-v8-latin-regular.woff') format('woff'),
		  url('../fonts/manrope-v8-latin-regular.ttf') format('truetype');
 }
 /* manrope-500 - latin */
 @font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 500;
	src: 
		  url('../fonts/manrope-v8-latin-500.woff2') format('woff2'),
		  url('../fonts/manrope-v8-latin-500.woff') format('woff'),
		  url('../fonts/manrope-v8-latin-500.ttf') format('truetype');
 }
 /* manrope-700 - latin */
 @font-face {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 700;
	src:
		  url('../fonts/manrope-v8-latin-700.woff2') format('woff2'),
		  url('../fonts/manrope-v8-latin-700.woff') format('woff'),
		  url('../fonts/manrope-v8-latin-700.ttf') format('truetype');
 }
 /* inter-500 - latin */
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src:
		  url('../fonts/inter-v7-latin-500.woff2') format('woff2'),
		  url('../fonts/inter-v7-latin-500.woff') format('woff'),
		  url('../fonts/inter-v7-latin-500.ttf') format('truetype');
 }