.featured {
	background: #1F2132;
	&__container{
		padding: 27px 0px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__desc {
		font-family: "Lexend";
		font-weight: normal;
		font-size: 24px;
		line-height: 32px;
		color: #FFFFFF;
	}
	&__span {
		display: inline-block;
		background-color: #ECE0D6;
		width: 159px;
		height: 43px;
	}
	&__span:nth-child(3) {
		width: 300px;
	}
}