.wrapper {
	&__container {
		padding-top: 111px;
		padding-bottom: 159px;
		width: 100%;
		max-width: 595px;
	}
	&__desc {
		margin: 0;
		margin-bottom: 23px;
		font-family: 'Manrope';
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		text-transform: uppercase;
		color: #6B6867;	
	}
	&__desc:nth-child(2) {
		margin-bottom: 32px;
		font-family: 'Manrope';
		font-weight: normal;
		font-size: 18px;
		line-height: 32px;
		color: #6B6867;
	}
	&__heading {
		//margin-bottom: 16px;
		margin: 0;
		font-family: 'Lexend';
		font-weight: normal;
		font-size: 56px;
		line-height: 64px;
		color: #1F2132;
	}
	&__link {
		font-family: 'Manrope';
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
		color: #007E5B;
	}
}	